In [15]:
from requests import get
from zipfile import ZipFile
import pandas as pd

# Accès aux données
Pour simplifier cette étape, on va ici aller chercher des données disponibles sur le site de l'Insee

In [6]:
URLS = {"deces": "https://www.insee.fr/fr/statistiques/fichier/4801913/etatcivil2019_dec2019_csv.zip"}

In [11]:
resp = get(URLS["deces"])
raw = resp.content

In [ ]:
with open("deces.zip", "wb") as zip_file:
    zip_file.write(raw)

# Ouverture du fichier source
...

In [19]:
deces_zip = ZipFile("deces.zip")
df_deces = pd.read_csv(deces_zip.open("FD_DEC_2019.csv"), sep=";")
df_deces.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3,9,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ADEC,MDEC,JDEC,DEPDEC,LIEUDECR,SEXE,ANAIS,MNAIS,JNAIS,DEPNAIS,ACTIV,INDNAT,DEPDOM,COMDOM,TUDOM,TUCOM,ETAMAT
0,2019,11,30,01,EHC,2,1940,7,28,99,1,2,99,NaN,9,NaN,3
1,2019,1,8,01,EHC,1,1944,9,21,49,1,1,99,NaN,9,NaN,4
2,2019,2,9,01,AUT,1,1954,3,15,99,1,2,99,NaN,9,NaN,2
3,2019,3,1,01,AUT,1,1966,2,24,99,3,2,99,NaN,9,NaN,1
4,2019,2,4,01,AUT,2,1974,5,9,99,2,2,99,NaN,9,NaN,1

# Sélection
...

In [23]:
colonnes = df_deces.columns
[col for col in colonnes]

['ADEC',
 'MDEC',
 'JDEC',
 'DEPDEC',
 'LIEUDECR',
 'SEXE',
 'ANAIS',
 'MNAIS',
 'JNAIS',
 'DEPNAIS',
 'ACTIV',
 'INDNAT',
 'DEPDOM',
 'COMDOM',
 'TUDOM',
 'TUCOM',
 'ETAMAT']

In [26]:
df_deces["ADEC"]

0         2019
1         2019
2         2019
3         2019
4         2019
          ...
613238    2019
613239    2019
613240    2019
613241    2019
613242    2019
Name: ADEC, Length: 613243, dtype: int64

In [28]:
df_deces[["ADEC", "ACTIV"]]

        ADEC  ACTIV
0       2019      1
1       2019      1
2       2019      1
3       2019      3
4       2019      2
...      ...    ...
613238  2019      1
613239  2019      3
613240  2019      1
613241  2019      1
613242  2019      3

[613243 rows x 2 columns]