In [15]:
from requests import get
from zipfile import ZipFile
import pandas as pd

# Accès aux données
Pour simplifier cette étape, on va ici aller chercher des données disponibles sur le site de l'Insee

In [6]:
URLS = {"deces": "https://www.insee.fr/fr/statistiques/fichier/4801913/etatcivil2019_dec2019_csv.zip"}

In [11]:
resp = get(URLS["deces"])
raw = resp.content

In [ ]:
with open("deces.zip", "wb") as zip_file:
    zip_file.write(raw)

# Ouverture du fichier source
...

In [19]:
deces_zip = ZipFile("deces.zip")
df_deces = pd.read_csv(deces_zip.open("FD_DEC_2019.csv"), sep=";")
df_deces.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3,9,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ADEC,MDEC,JDEC,DEPDEC,LIEUDECR,SEXE,ANAIS,MNAIS,JNAIS,DEPNAIS,ACTIV,INDNAT,DEPDOM,COMDOM,TUDOM,TUCOM,ETAMAT
0,2019,11,30,01,EHC,2,1940,7,28,99,1,2,99,NaN,9,NaN,3
1,2019,1,8,01,EHC,1,1944,9,21,49,1,1,99,NaN,9,NaN,4
2,2019,2,9,01,AUT,1,1954,3,15,99,1,2,99,NaN,9,NaN,2
3,2019,3,1,01,AUT,1,1966,2,24,99,3,2,99,NaN,9,NaN,1
4,2019,2,4,01,AUT,2,1974,5,9,99,2,2,99,NaN,9,NaN,1

# Sélection
...

In [23]:
colonnes = df_deces.columns
[col for col in colonnes]

['ADEC',
 'MDEC',
 'JDEC',
 'DEPDEC',
 'LIEUDECR',
 'SEXE',
 'ANAIS',
 'MNAIS',
 'JNAIS',
 'DEPNAIS',
 'ACTIV',
 'INDNAT',
 'DEPDOM',
 'COMDOM',
 'TUDOM',
 'TUCOM',
 'ETAMAT']

In [33]:
df_deces.ADEC # Même chose que df_deces["ADEC"]

0         2019
1         2019
2         2019
3         2019
4         2019
          ...
613238    2019
613239    2019
613240    2019
613241    2019
613242    2019
Name: ADEC, Length: 613243, dtype: int64

In [40]:
type(df_deces.ADEC) # pandas.core.series.Series

pandas.core.series.Series

In [34]:
df_deces[["ADEC", "ACTIV"]]

        ADEC  ACTIV
0       2019      1
1       2019      1
2       2019      1
3       2019      3
4       2019      2
...      ...    ...
613238  2019      1
613239  2019      3
613240  2019      1
613241  2019      1
613242  2019      3

[613243 rows x 2 columns]

In [58]:
df_deces_activ = df_deces[ df_deces.ACTIV == 1 ]
df_deces_70 = df_deces_activ[ df_deces_activ["ANAIS"] > 1970 ]
df_deces_70

,ADEC,MDEC,JDEC,DEPDEC,LIEUDECR,SEXE,ANAIS,MNAIS,JNAIS,DEPNAIS,ACTIV,INDNAT,DEPDOM,COMDOM,TUDOM,TUCOM,ETAMAT
1531,2019,12,7,76,AUT,1,1979,8,4,99,1,1,99,NaN,9,NaN,1
7741,2019,5,22,02,EHC,1,1971,2,15,02,1,1,2,2109,0,M,3
16904,2019,2,13,03,EHC,1,1979,4,20,03,1,1,3,3310,5,P,1
20399,2019,4,11,05,EHC,1,1973,12,7,04,1,1,5,5103,0,M,1
41192,2019,5,24,09,LOG,1,1972,7,13,57,1,1,9,9306,2,M,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587942,2019,6,14,94,EHC,2,1972,5,15,92,1,1,94,94054,8,P,1
588989,2019,10,13,94,EHC,2,1972,9,20,94,1,1,94,94068,8,P,1
593633,2019,11,22,95,LOG,1,1979,1,18,93,1,1,95,95197,8,P,1
607166,2019,5,25,973,EHC,1,1973,10,11,973,1,1,973,97311,4,P,1
611188,2019,5,27,974,AUT,1,1974,4,1,76,1,1,974,97416,6,P,4